@import 'tartu/tartu.less'; 
//@import url(http://fonts.googleapis.com/css?family=EB+Garamond);
@import url(http://fonts.googleapis.com/css?family=Averia+Serif+Libre);
@import url(http://fonts.googleapis.com/css?family=Inconsolata); 

#newspaper {
  .normal {
    color: #000000; 
    background-color: #dbdbd2; 
  }
  .line-number {
    color: #666677; 
    background-color: #cccfbf; 
  }
  .border-color {
    border-color: #666677; 
  }
}

html {
  margin: 0; 
  padding: 0;
}
body {
  margin: 0; 
  padding: 0; 
  #newspaper > .line-number;  
  font-size: 18px; 
}
#content {
  margin: 0px auto; 
  padding: 0px; 
  width: 720px; 
  #newspaper > .normal; 
}
header .header-image{
  background-image:
  url(/gfx/header.jpg); 
  width: 720px; 
  height: 30px; 
  padding: 210px 0px 0px 0px; 
  color: #dddddd;
  font-family: 'Averia Serif Libre', cursive; 
  font-size: 12px; 
  h1 {
    a {
      color: #dddddd; 
      text-decoration: none; 
    }
    a:hover {
      text-decoration: underline; 
    }
    margin: 1px; 
    padding: 1px 24px 1px 24px; 
    line-height: 1.2em; 
  }
}
nav {
  border-top: 1px solid; 
  border-bottom: 1px solid; 
  ul {
    margin: 1px; 
    padding: 1px; 
    list-style: none; 
    li {
      margin: 1px; 
      padding: 1px 24px 1px 24px; 
      border-left: 2px solid; 
      #newspaper > .border-color; 
      display: inline; 
      a {
        color: @tartu-color238; 
        text-decoration: none; 
        font-size: 24px; 
      }
      a:hover {
        text-decoration: underline; 
      }
    }
    li:first-child {
      border: 0; 
    }
  }
  p {
    font-size: 12px; 
  }
}
.field {
  margin: 0; 
  padding-left: 12px; 
  label {
    display: block; 
    font-size: 120%;
    font-family: 'Averia Serif Libre', cursive; 
  }
  input {
    display: block; 
    width: 600px; 
  }
  textarea {
    display: block; 
    width: 600px; 
  }
}
.markdown-document {
  margin: 0; 
  padding: 1px 12px 1px 12px; 
  line-height: 1.2em; 
  h1 {
    font-size: 32px; 
    line-height: 36px; 
  }
  h2 {
    font-size: 28px; 
    light-height: 32px; 
    border-bottom: 1px solid; 
  }
  h3 {
    font-size: 24px; 
    line-height: 28px; 
  }
  h4 {
    font-size: 20px; 
    line-height: 24px; 
  }
  h5 {
    font-size: 16px; 
    line-height: 20px; 
  }
  h6 {
    font-size: 12px; 
    line-height: 16px; 
  }
  pre {
    overflow: auto; 
    white-space: pre-wrap; 
    background-color: #f0f0f0; 
    color: #404850; 
      margin: 24px; 
      padding: 0; 
    code {
      font-family: 'Inconsolata', sans-serif;
      //background-color: @tartu-color153; 
      .str { // string
        color: #4070a0; 
      }
      .kwd { // keyword
        color: #007020; 
      }
      .com { // comment
        color: #a0b0c0; 
      }
      .typ { // type
        color: #e5a00d; 
      }
      .lit { // literal
        color: #70a040; 
      }
      .pun { // punctuation
        color: #408010; 
      }
      .pln { // plaintext
      }
      .tag { // html/xml tag
        color: #007020; 
      }
      .atn { // html/xml attribute name
        color: #5b3674; 
      }
      .atv { // html/xml attribute value
        color: #e5a00d; 
      }
      .dec { // decimal 
        color: #40a070; 
      }
      //color: @tartu-color255; 
    }
  }
}

